* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Karla", sans-serif;
}

.tenzei-btn {
  background: white;
  font-weight: bold;
}

.game-checker {
  font-family: "Karla", sans-serif;
  background: #5035ff;
  color: white;
}
